NEXT_PUBLIC_CHAIN_ID=10143
NEXT_PUBLIC_RPC_HTTP_URL=https://testnet-rpc.monad.xyz
NEXT_PUBLIC_RPC_WS_URL=wss://testnet-rpc.monad.xyz
NEXT_PUBLIC_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000
NEXT_PUBLIC_BROKER_HTTP_URL=http://localhost:8787
NEXT_PUBLIC_BROKER_WS_URL=ws://localhost:8787
